{% extends "base.html" %}

{% block content %}
<div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Static Websites 🚀</h5>
                <p class="card-text">Deploy your own static website in seconds!</p>
                <a href="{{ url_for('sites.list_sites') }}" class="btn btn-primary">Get started</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Virtual Machines 💻</h5>

                <p class="card-text">Set up a virtual machine for development and testing.</p>
                <a href="{{ url_for('virtual_machines.list_vms') }}" class="btn btn-primary">Get started</a>
            </div>
        </div>
    </div>
</div>

<style>
    .card {
        border: none;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        transition: all 0.2s ease-in-out;
    }

    .card:hover{
        transform: scale(1.05);
    }
</style>

{% endblock %}